@import '../reset/reset';

$primary-color: #f4c227;
$secondary-color: #ffffff;
$accent-color: #000000;

$font-xxlarge: 40px;
$font-xlarge: 32px;
$font-large: 24px;
$font-reg: 16px;
$font-small: 8px;

.header {
    background-color: $accent-color;
    color: $secondary-color;
}

.team {
    background-color: $primary-color;
}

.concept {
    background-color: $primary-color;
}

.footer {
    background-color: $accent-color;
    color: $secondary-color;
}


